html {
  scroll-behavior: smooth;

  background: linear-gradient(
    to bottom,
    red,
    orange,
    yellow,
    green,
    cyan,
    blue
  ); /* Standard syntax (must be last) */
}

.App {
  text-align: center;
}

.next-link-container {
  display: flex;
  justify-content: center;
}

.next-link {
  transform: rotate(90deg);
  display: block;
  width: fit-content;
}

.fist-container {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

a {
  text-decoration: none;
}

form {
  padding: 1em;
  background-color: cyan;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

a, h1 {
  color: white;
}

h1, .next-link {
  font-size: 10em;
}

h1 {
  margin: 1rem;
}

.back-to-top {
  font-size: 2em;
}

img {
  border: 2px solid white;
  margin-bottom: 2em;
  height: 40vh;
  max-width: 80%;
}

.random-giphy button {
  font-size: 2em;
  background: transparent;
  border: none;
  cursor: pointer;
}
